<div class="container">
  
  <div class="row">
    <div class="col">

    </div>
    <div class="col">
      <span>Welcome to real time chat application</span>
      <ol class="list-group list-group-numbered">
        <li class="list-group-item d-flex justify-content-between align-items-start"
          *ngFor="let room of availableChatRooms">
          <div class="ms-2 me-auto">
            <div class="fw-bold">{{room.chatRoomId}} {{room.chatRoomName}}</div>
            Room Description here
          </div>
          <span class="badge bg-primary" (click)="joinChatRoom(room)"> Join </span>
        </li>
      </ol>
    </div>
    <div class="col">

    </div>
  </div>
</div>